<div class="panel-content snipcss-2reJr w-100">
    <section class="snip-section">
      <h2 class="section-title snip-h2">
        Filter comments
      </h2>
      <div class="panel-section-card py-20 px-25 mt-20 ">
        <form action="" method="get" class="row">
          <div class="col-12 col-lg-5 ">
            <div class="row ">
              <div class="col-12 col-md-6 ">
                <div class="form-group ">
                  <label class="input-label">
                    From
                  </label>
                  <div class="input-group ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="dateInputGroupPrepend">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar text-white snip-svg">
                          <rect x="3" y="4" width="18" height="18" rx="2" ry="2">
                          </rect>
                          <line x1="16" y1="2" x2="16" y2="6">
                          </line>
                          <line x1="8" y1="2" x2="8" y2="6">
                          </line>
                          <line x1="3" y1="10" x2="21" y2="10">
                          </line>
                        </svg>
                      </span>
                    </div>
                    <input type="text" name="from" autocomplete="off" value="" class="form-control datefilter" aria-describedby="dateInputGroupPrepend">
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 ">
                <div class="form-group ">
                  <label class="input-label">
                    To
                  </label>
                  <div class="input-group ">
                    <div class="input-group-prepend ">
                      <span class="input-group-text" id="dateInputGroupPrepend">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar text-white snip-svg">
                          <rect x="3" y="4" width="18" height="18" rx="2" ry="2">
                          </rect>
                          <line x1="16" y1="2" x2="16" y2="6">
                          </line>
                          <line x1="8" y1="2" x2="8" y2="6">
                          </line>
                          <line x1="3" y1="10" x2="21" y2="10">
                          </line>
                        </svg>
                      </span>
                    </div>
                    <input type="text" name="to" autocomplete="off" value="" class="form-control datefilter" aria-describedby="dateInputGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5 ">
            <div class="form-group ">
              <label class="input-label">
                Course
              </label>
              <input type="text" name="webinar" value="" class="form-control">
            </div>
          </div>
          <div class="col-12 col-lg-2 d-flex align-items-center justify-content-end ">
            <button type="submit" class="btn btn-sm btn-primary w-100 mt-2 snip-button">
              Show Results
            </button>
          </div>
        </form>
      </div>
    </section>
    <section class="mt-35 snip-section">
      <h2 class="section-title snip-h2">
        My comments
      </h2>
      <div class="panel-section-card py-20 px-25 mt-20 ">
        <div class="row ">
          <div class="col-12 ">
            <div class="table-responsive ">
              <table class="table custom-table text-center ">
                <thead>
                  <tr>
                    <th class="text-left text-gray">
                      Course
                    </th>
                    <th class="text-gray text-center">
                      Comment
                    </th>
                    <th class="text-gray text-center">
                      Status
                    </th>
                    <th class="text-gray text-center">
                      Date
                    </th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-left align-middle" width="35%">
                      <a class="text-dark-blue font-weight-500 snip-a" href="https://lms.rocket-soft.org/course/Become-a-Product-Manager" target="_blank">
                        Become a Product Manager
                      </a>
                    </td>
                    <td class="align-middle">
                      <button type="button" data-comment-id="64" class="js-view-comment btn btn-sm btn-gray200 snip-button">
                        View
                      </button>
                    </td>
                    <td class="align-middle">
                      <span class="text-warning text-dark-blue font-weight-500">
                        Pending
                      </span>
                    </td>
                    <td class="text-dark-blue font-weight-500 align-middle">
                      17 Jul 2021 | 04:12
                    </td>
                    <td class="align-middle text-right">
                      <input type="hidden" id="commentDescription64" value="Great course that gives you the basic knowledge needed to become a product manager.">
                      <div class="btn-group dropdown table-actions ">
                        <button type="button" class="btn-transparent dropdown-toggle snip-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                            <circle cx="12" cy="12" r="1">
                            </circle>
                            <circle cx="12" cy="5" r="1">
                            </circle>
                            <circle cx="12" cy="19" r="1">
                            </circle>
                          </svg>
                        </button>
                        <div class="dropdown-menu ">
                          <button type="button" data-comment-id="64" class="js-edit-comment btn-transparent snip-button">
                            Edit
                          </button>
                          <a href="/panel/webinars/comments/64/delete" class="delete-action btn-transparent d-block mt-10 snip-a">
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left align-middle" width="35%">
                      <a class="text-dark-blue font-weight-500 snip-a" href="https://lms.rocket-soft.org/course/Health-And-Fitness-Masterclass" target="_blank">
                        Health And Fitness Masterclass
                      </a>
                    </td>
                    <td class="align-middle">
                      <button type="button" data-comment-id="52" class="js-view-comment btn btn-sm btn-gray200 snip-button">
                        View
                      </button>
                    </td>
                    <td class="align-middle">
                      <span class="text-primary text-dark-blue font-weight-500">
                        Published
                      </span>
                    </td>
                    <td class="text-dark-blue font-weight-500 align-middle">
                      14 Jul 2021 | 00:07
                    </td>
                    <td class="align-middle text-right">
                      <input type="hidden" id="commentDescription52" value="Perfect course, thank you.">
                      <div class="btn-group dropdown table-actions ">
                        <button type="button" class="btn-transparent dropdown-toggle snip-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                            <circle cx="12" cy="12" r="1">
                            </circle>
                            <circle cx="12" cy="5" r="1">
                            </circle>
                            <circle cx="12" cy="19" r="1">
                            </circle>
                          </svg>
                        </button>
                        <div class="dropdown-menu ">
                          <button type="button" data-comment-id="52" class="js-edit-comment btn-transparent snip-button">
                            Edit
                          </button>
                          <a href="/panel/webinars/comments/52/delete" class="delete-action btn-transparent d-block mt-10 snip-a">
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left align-middle" width="35%">
                      <a class="text-dark-blue font-weight-500 snip-a" href="https://lms.rocket-soft.org/course/Excel-from-Beginner-to-Advanced" target="_blank">
                        Excel from Beginner to Advanced
                      </a>
                    </td>
                    <td class="align-middle">
                      <button type="button" data-comment-id="47" class="js-view-comment btn btn-sm btn-gray200 snip-button">
                        View
                      </button>
                    </td>
                    <td class="align-middle">
                      <span class="text-primary text-dark-blue font-weight-500">
                        Published
                      </span>
                    </td>
                    <td class="text-dark-blue font-weight-500 align-middle">
                      9 Jul 2021 | 16:48
                    </td>
                    <td class="align-middle text-right">
                      <input type="hidden" id="commentDescription47" value="Thanks a lot for your comment, Best regards.">
                      <div class="btn-group dropdown table-actions ">
                        <button type="button" class="btn-transparent dropdown-toggle snip-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                            <circle cx="12" cy="12" r="1">
                            </circle>
                            <circle cx="12" cy="5" r="1">
                            </circle>
                            <circle cx="12" cy="19" r="1">
                            </circle>
                          </svg>
                        </button>
                        <div class="dropdown-menu ">
                          <button type="button" data-comment-id="47" class="js-edit-comment btn-transparent snip-button">
                            Edit
                          </button>
                          <a href="/panel/webinars/comments/47/delete" class="delete-action btn-transparent d-block mt-10 snip-a">
                            Delete
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="my-30 ">
    </div>
  </div>
  
