<section class="mt-30 snipcss-vNNWd snip-section">
    <h2 class="section-title after-line snip-h2">
      Skills
    </h2>
    <div class="mt-20 d-flex align-items-center flex-wrap snip-div">
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox520" value="520">
        <label class="font-14" for="checkbox520">
          Design
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox601" value="601">
        <label class="font-14" for="checkbox601">
          Math
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox602" value="602">
        <label class="font-14" for="checkbox602">
          Science
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox603" value="603">
        <label class="font-14" for="checkbox603">
          Language
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox523" value="523">
        <label class="font-14" for="checkbox523">
          Health &amp; Fitness
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox604" value="604">
        <label class="font-14" for="checkbox604">
          Lifestyle
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox605" value="605">
        <label class="font-14" for="checkbox605">
          Beauty &amp; Makeup
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox525" value="525">
        <label class="font-14" for="checkbox525">
          Marketing
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox609" value="609" checked="checked">
        <label class="font-14" for="checkbox609">
          Management
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox610" value="610">
        <label class="font-14" for="checkbox610">
          Communications
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox611" value="611">
        <label class="font-14" for="checkbox611">
          Business Strategy
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox606" value="606" checked="checked">
        <label class="font-14" for="checkbox606">
          Web Development
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox607" value="607" checked="checked">
        <label class="font-14" for="checkbox607">
          Mobile Development
        </label>
      </div>
      <div class="checkbox-button mr-15 mt-10 snip-div">
        <input type="checkbox" name="occupations[]" id="checkbox608" value="608">
        <label class="font-14" for="checkbox608">
          Game Development
        </label>
      </div>
    </div>
    <div class="mt-15 snip-div">
      <p class="font-12 text-gray snip-p">
        - Choosing interest topics (for instructors) will help students to find you for live meetings.
      </p>
      <p class="font-12 text-gray snip-p">
        - If you conduct live meetings choosing more accurate topics suggested.
      </p>
    </div>
  </section>
  
