<!-- <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="" class="logo">
                        <img src="" alt="">
                    </a>
                    
                    <ul class="nav">
                        
                        <li class="has-sub">
                            <a href="javascript:void(0)">Login</a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Sign-Up</a></li>
                                <li><a [routerLink]="['/auth//register-user']" routerLinkActive="router-link-active">Sign-In</a></li>
                            </ul>
                        </li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header> -->


<!-- ******************************************** -->
<header class=" mb-4">
    <nav class=" navbar navbar-expand-lg m-auto mb-2 fixed-top ">
      <a class="navbar-brand logo" routerLink="home">
        <i class="bi bi-book-half" style="font-size: 40px;color: rgb(254,74 ,85);"></i>
      
      </a>
      <div class="navbar-toggler ">
         
        <a   routerLink="/auth/login" class="btnLog">
          <i class="bi bi-person-circle me-2" ></i>
          <span class="span">Login/Register</span> 
        </a>
        
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
          &#9776;
        </button>
      </div>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse  justify-content-around">
        <app-banner ></app-banner>
      </div>
      <a *ngIf="!(auth.currentUser$|async)"  routerLink="/auth/login" class="btnLog1">
        <i class="bi bi-person-circle me-2" > </i>
        <span class="span">Login/Register</span> 
        <span class="span2"></span>
      </a>
     


      <div class="dropdown">
        <a *ngIf="(auth.currentUser$|async)"  class="btnLog1 ">
          <i class="bi bi-person-circle me-2" > </i>
          <span *ngIf="user" class="span">{{user.firstName+" "+user.lastName}}</span> 
          <span class="span2"></span>
         
         
        </a>
        <div class="dropdown-content">
          <ul class="p-0" >
            <li *ngIf="(auth.currentUser$|async)" class=""><i class="bi bi-box-arrow-right"></i><button (click)="logout()"> <span>Deconnecter</span></button></li>
            <li *ngIf="(auth.currentUser$|async)" class=""><i class="bi bi-box-arrow-right"></i><button (click)="logout()"> <span>Deconnecter</span></button></li>
          </ul>
        </div>
      </div>
      
    </nav>
  </header>