<div class="panel-content snipcss-PeCbH w-100">
    <section class="snip-section">
      <h2 class="section-title snip-h2">
        My activity
      </h2>
      <div class="activities-container mt-25 p-20 p-lg-35 ">
        <div class="row ">
          <div class="col-4 d-flex align-items-center justify-content-center ">
            <div class="d-flex flex-column align-items-center text-center ">
              <img src="https://lms.rocket-soft.org/assets/default/img/activity/webinars.svg" width="64" height="64" alt="" class="snip-img">
              <strong class="font-30 text-dark-blue font-weight-bold mt-5">
                2
              </strong>
              <span class="font-16 text-gray font-weight-500">
                Purchased
              </span>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center ">
            <div class="d-flex flex-column align-items-center text-center ">
              <img src="https://lms.rocket-soft.org/assets/default/img/activity/hours.svg" width="64" height="64" alt="" class="snip-img">
              <strong class="font-30 text-dark-blue font-weight-bold mt-5">
                3:30
              </strong>
              <span class="font-16 text-gray font-weight-500">
                Hours
              </span>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center ">
            <div class="d-flex flex-column align-items-center text-center ">
              <img src="https://lms.rocket-soft.org/assets/default/img/activity/upcoming.svg" width="64" height="64" alt="" class="snip-img">
              <strong class="font-30 text-dark-blue font-weight-bold mt-5">
                0
              </strong>
              <span class="font-16 text-gray font-weight-500">
                Upcoming
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-25 snip-section">
      <div class="d-flex align-items-start align-items-md-center justify-content-between flex-column flex-md-row ">
        <h2 class="section-title snip-h2">
          My purchases
        </h2>
      </div>
      <div class="row mt-30 ">
        <div class="col-12 ">
          <div class="webinar-card webinar-list d-flex ">
            <div class="image-box ">
              <img src="https://lms.rocket-soft.org/store/863/Health%20And%20Fitness%20Masterclass%20Beginner%20To%20Advanced.jpg" class="img-cover snip-img" alt="">
              <span class="badge badge-secondary">
                In Progress
              </span>
              <div class="progress cursor-pointer " data-toggle="tooltip" data-placement="top" title="" data-original-title="0% of the course is passed.">
                <span class="progress-bar" style="width: 0%">
                </span>
              </div>
            </div>
            <div class="webinar-card-body w-100 d-flex flex-column ">
              <div class="d-flex align-items-center justify-content-between ">
                <a href="https://lms.rocket-soft.org/course/Health-And-Fitness-Masterclass" class="snip-a">
                  <h3 class="webinar-title font-weight-bold font-16 text-dark-blue snip-h3">
                    Health And Fitness Masterclass
                    <span class="badge badge-dark ml-10 status-badge-dark">
                      Live class
                    </span>
                  </h3>
                </a>
                <div class="btn-group dropdown table-actions ">
                  <button type="button" class="btn-transparent dropdown-toggle snip-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                      <circle cx="12" cy="12" r="1">
                      </circle>
                      <circle cx="12" cy="5" r="1">
                      </circle>
                      <circle cx="12" cy="19" r="1">
                      </circle>
                    </svg>
                  </button>
                  <div class="dropdown-menu ">
                    <a href="https://lms.rocket-soft.org/course/learning/Health-And-Fitness-Masterclass" target="_blank" class="webinar-actions d-block snip-a">
                      Learning page
                    </a>
                    <a href="https://lms.rocket-soft.org/course/Health-And-Fitness-Masterclass?tab=content" target="_blank" class="webinar-actions d-block mt-10 snip-a">
                      Download
                    </a>
                    <a href="/panel/webinars/2002/invoice" target="_blank" class="webinar-actions d-block mt-10 snip-a">
                      Invoice
                    </a>
                    <a href="https://lms.rocket-soft.org/course/Health-And-Fitness-Masterclass?tab=reviews" target="_blank" class="webinar-actions d-block mt-10 snip-a">
                      Feedback
                    </a>
                  </div>
                </div>
              </div>
              <div class="stars-card d-flex align-items-center mt-15 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <span class="badge badge-primary ml-10">
                  5.00
                </span>
              </div>
              <div class="webinar-price-box mt-15 ">
                <span class="real">
                  $20
                </span>
              </div>
              <div class="d-flex align-items-center justify-content-between flex-wrap mt-auto ">
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Item ID:
                  </span>
                  <span class="stat-value">
                    2002
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Category:
                  </span>
                  <span class="stat-value">
                    Health &amp; Fitness
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Duration:
                  </span>
                  <span class="stat-value">
                    1:00 Hrs
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Start Date:
                  </span>
                  <span class="stat-value">
                    30 Jun 2021
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Instructor:
                  </span>
                  <span class="stat-value">
                    Jessica Wray
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Purchase Date:
                  </span>
                  <span class="stat-value">
                    12 Jul 2021
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-30 ">
        <div class="col-12 ">
          <div class="webinar-card webinar-list d-flex ">
            <div class="image-box ">
              <img src="https://lms.rocket-soft.org/store/1016/1.jpg" class="img-cover snip-img" alt="">
              <span class="badge badge-secondary">
                Downloadable
              </span>
              <div class="progress cursor-pointer " data-toggle="tooltip" data-placement="top" title="" data-original-title="60% of the course is passed.">
                <span class="progress-bar" style="width: 60%">
                </span>
              </div>
            </div>
            <div class="webinar-card-body w-100 d-flex flex-column ">
              <div class="d-flex align-items-center justify-content-between ">
                <a href="https://lms.rocket-soft.org/course/Become-a-Product-Manager" class="snip-a">
                  <h3 class="webinar-title font-weight-bold font-16 text-dark-blue snip-h3">
                    Become a Product Manager
                    <span class="badge badge-dark ml-10 status-badge-dark">
                      Course
                    </span>
                  </h3>
                </a>
                <div class="btn-group dropdown table-actions ">
                  <button type="button" class="btn-transparent dropdown-toggle snip-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                      <circle cx="12" cy="12" r="1">
                      </circle>
                      <circle cx="12" cy="5" r="1">
                      </circle>
                      <circle cx="12" cy="19" r="1">
                      </circle>
                    </svg>
                  </button>
                  <div class="dropdown-menu ">
                    <a href="https://lms.rocket-soft.org/course/learning/Become-a-Product-Manager" target="_blank" class="webinar-actions d-block snip-a">
                      Learning page
                    </a>
                    <a href="https://lms.rocket-soft.org/course/Become-a-Product-Manager?tab=content" target="_blank" class="webinar-actions d-block mt-10 snip-a">
                      Download
                    </a>
                    <a href="https://lms.rocket-soft.org/course/Become-a-Product-Manager?tab=reviews" target="_blank" class="webinar-actions d-block mt-10 snip-a">
                      Feedback
                    </a>
                  </div>
                </div>
              </div>
              <div class="stars-card d-flex align-items-center mt-15 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star active snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star snip-svg">
                  <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                  </polygon>
                </svg>
                <span class="badge badge-primary ml-10">
                  4.58
                </span>
              </div>
              <div class="webinar-price-box mt-15 ">
                <span class="real">
                  Free
                </span>
              </div>
              <div class="d-flex align-items-center justify-content-between flex-wrap mt-auto ">
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Item ID:
                  </span>
                  <span class="stat-value">
                    1995
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Category:
                  </span>
                  <span class="stat-value">
                    Business Strategy
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Instructor:
                  </span>
                  <span class="stat-value">
                    Ricardo dave
                  </span>
                </div>
                <div class="d-flex align-items-start flex-column mt-20 mr-15 ">
                  <span class="stat-title">
                    Purchase Date:
                  </span>
                  <span class="stat-value">
                    12 Jul 2021
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="my-30 ">
    </div>
    <div class="d-none " id="joinWebinarModal">
      <h3 class="section-title after-line font-20 text-dark-blue mb-25 snip-h3">
        Next session information
      </h3>
      <div class="mt-25 ">
        <div class="row ">
          <div class="col-12 col-md-7 ">
            <div class="form-group ">
              <label class="input-label">
                Session title
              </label>
              <input type="text" readonly="" class="js-join-session-title form-control" value="">
            </div>
          </div>
          <div class="col-12 col-md-5 ">
            <div class="form-group ">
              <label class="input-label">
                &nbsp;
              </label>
              <div class="input-group ">
                <div class="input-group-prepend ">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar text-white snip-svg">
                      <rect x="3" y="4" width="18" height="18" rx="2" ry="2">
                      </rect>
                      <line x1="16" y1="2" x2="16" y2="6">
                      </line>
                      <line x1="8" y1="2" x2="8" y2="6">
                      </line>
                      <line x1="3" y1="10" x2="21" y2="10">
                      </line>
                    </svg>
                  </span>
                </div>
                <input type="text" readonly="" value="" class="js-join-session-date form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 ">
            <div class="form-group ">
              <label class="input-label">
                Description
              </label>
              <textarea class="js-join-session-description form-control" readonly="" rows="5">
              </textarea>
            </div>
          </div>
        </div>
      </div>
      <h3 class="section-title after-line font-16 text-dark-blue mb-25 snip-h3">
        Join information
      </h3>
      <div class="row js-join-session-link-row ">
        <div class="col-12 ">
          <div class="form-group ">
            <label class="input-label">
              Link
            </label>
            <div class="input-group ">
              <div class="input-group-prepend ">
                <button type="button" class="input-group-text js-copy snip-button" data-input="link" data-toggle="tooltip" data-placement="top" title="" data-copy-text="Copy" data-done-text="Done" data-original-title="Copy">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy text-white snip-svg">
                    <rect x="9" y="9" width="13" height="13" rx="2" ry="2">
                    </rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1">
                    </path>
                  </svg>
                </button>
              </div>
              <input type="text" name="link" readonly="" value="" class="js-join-session-link form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 col-md-6 ">
          <div class="form-group ">
            <label class="input-label">
              System
            </label>
            <input type="text" readonly="" class="js-join-session-session_api form-control" value="">
          </div>
        </div>
        <div class="col-12 col-md-6 ">
          <div class="form-group ">
            <label class="input-label">
              Password
            </label>
            <input type="text" readonly="" class="js-join-session-api_secret form-control" value="">
          </div>
        </div>
      </div>
      <div class="mt-30 d-flex align-items-center justify-content-end ">
        <a href="" target="_blank" class="js-join-session-link-action btn btn-sm btn-primary snip-a">
          Join
        </a>
        <button type="button" class="btn btn-sm btn-danger ml-10 close-swl snip-button">
          Close
        </button>
      </div>
    </div>
  </div>
  
