
  * { 
      box-sizing:  border-box;
      outline: none!important;
  } 
  
  form { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .mt-30 { 
      margin-top: 30px!important;
  } 
  
  div { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .panel-content { 
      padding: 30px 15px; 
      width: calc(100% - 254px);
  } 
  
  .d-flex { 
      display: flex!important;
  } 
  
  .justify-content-end { 
      justify-content: flex-end!important;
  } 
  

  :host { 
      --panel-bg:  #fbfbfd; 
      --primary:  #43d477; 
      --primary-border:  #43d477; 
      --primary-btn-color:  #fff; 
      --font-family-base:  "main-font-family"; 
  
  } 
  
  section { 
      display: block;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  h2 { 
      margin-top:    0; 
      margin-bottom:    0; 
      font-weight:   700; 
      line-height:   1.3;
      font-size:  1.4rem;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .section-title { 
      font-size: 16px; 
      font-weight: 700; 
      line-height: 1.2; 
      color: #171347;
  } 
  
  .section-title.after-line { 
      display: flex; 
      flex: 1; 
      align-items: center;
  } 
  
  .section-title.after-line:after { 
      content: ""; 
      flex: 1 0 20px; 
      height: 2px; 
      background-color: #f1f1f1; 
      margin-left: 10px;
  } 
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mt-20 { 
      margin-top: 20px!important;
  } 
  
  .col-12,.col-lg-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .col-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      flex: 0 0 33.3333333333%; 
      max-width: 33.3333333333%;
    } 
  }     
  
  .col-12,.col-lg-8 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-8 { 
      flex: 0 0 66.6666666667%; 
      max-width: 66.6666666667%;
    } 
  }     
  
  .form-group { 
      margin-bottom: 1rem;
  } 
  
  .mb-30 { 
      margin-bottom: 30px!important;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  .input-label { 
      font-size: 14px; 
      font-weight: 500; 
      line-height: 1.19; 
      color: #171347;
  } 
  
  .align-items-center { 
      align-items: center!important;
  } 
  
  input { 
      margin:  0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: 2.5rem; 
      padding: .5rem 1rem; 
      font-family: main-font-family; 
      font-size: .75rem; 
      font-weight: 400; 
      line-height: 1.25; 
      color: #343434; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 1px solid #ececec; 
      border-radius: .5rem; 
      box-shadow: none; 
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  input[type="number"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  select { 
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      text-transform:  none;
      word-wrap: normal;
  } 
  
  input[type="text"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  .custom-control { 
      position: relative; 
      display: block; 
      min-height: 1.3rem; 
      padding-left: 2rem;
  } 
  
  .ml-15 { 
      margin-left: 15px!important;
  } 
  
  .ml-10 { 
      margin-left: 10px!important;
  } 
  
  .d-block { 
      display: block!important;
  } 
  
  .text-gray { 
      color: #818894!important;
  } 
  
  .font-12 { 
      font-weight:  400; 
      line-height:  1.4;
      font-size: .75rem;
  } 
  
  .mt-10 { 
      margin-top: 10px!important;
  } 
  
  .region-map { 
      height: 400px; 
      border-radius: 15px; 
      z-index: 10; 
      position: relative;
  } 
  
  .leaflet-container { 
      overflow:  hidden;
      -webkit-tap-highlight-color: transparent;
  } 
  
  .leaflet-grab { 
      cursor: -webkit-grab; 
      cursor: -moz-grab; 
      cursor: grab;
  } 
  
  .leaflet-container { 
      background:  #ddd; 
      outline:  0;
      font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
  } 
  
  .leaflet-container.leaflet-touch-zoom { 
      -ms-touch-action: pan-x pan-y; 
      touch-action: pan-x pan-y;
  } 
  
  .leaflet-container.leaflet-touch-drag { 
      -ms-touch-action: pinch-zoom; 
      touch-action: none; 
      touch-action: pinch-zoom;
  } 
  
  .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom { 
      -ms-touch-action: none; 
      touch-action: none;
  } 
  
  .custom-control-input { 
      position: absolute; 
      left: 0; 
      z-index: -1; 
      width: 1.5rem; 
      height: 1.4rem; 
      opacity: 0;
  } 
  
  input[type="radio"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .custom-control-label { 
      position: relative; 
      margin-bottom: 0; 
      vertical-align: top;
  } 
  
  .font-14 { 
      font-size:  .875rem;
      font-weight: 400; 
      line-height: 1.4;
  } 
  
  .cursor-pointer,.custom-control-label { 
      cursor: pointer;
  } 
  
  .custom-control-label:before { 
      pointer-events: none; 
      background-color: #fff; 
      border: 2px solid #adb5bd; 
      box-shadow: none;
  } 
  
  .custom-control-label:after,.custom-control-label:before { 
      position: absolute; 
      top: -.1rem; 
      left: -2rem; 
      display: block; 
      width: 1.5rem; 
      height: 1.5rem; 
      content: "";
  } 
  
  .custom-control-label:before,.custom-file-label,.custom-select { 
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .custom-radio .custom-control-label:before  { 
      border-radius: 50%;
  } 
  
  .custom-control-input:checked ~ .custom-control-label:before  { 
      color: #fff; 
      border-color: #43d477; 
      background-color: #43d477; 
      box-shadow: none;
  } 
  
  .custom-control-input:checked ~ .custom-control-label:before , .custom-control-input:not(:disabled):active ~ .custom-control-label::before { 
      color: var(--primary-btn-color)!important; 
      background-color: var(--primary)!important; 
      border-color: var(--primary-border)!important; 
      box-shadow: none;
  } 
  
  .custom-control-label:after { 
      background: no-repeat 50%/50% 50%; 
      background-image: initial; 
      background-position-x: 50%; 
      background-position-y: center; 
      background-size: 50% 50%; 
      background-repeat: no-repeat; 
      background-attachment: initial; 
      background-origin: initial; 
      background-clip: initial; 
      background-color: initial;
  } 
  
  .custom-radio .custom-control-input:checked ~ .custom-control-label:after  { 
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
  } 
  
  input[type="checkbox"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .custom-checkbox .custom-control-label:before  { 
      border-radius: .25rem;
  } 
  
  .custom-control-input:focus ~ .custom-control-label:before  { 
      box-shadow: none,1.5rem;
  } 
  
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before { 
      border-color: #43d477;
  } 
  
  img { 
      border-style:  none;
      vertical-align: middle;
  } 
  
  .region-map .marker  { 
      position: absolute; 
      margin: auto; 
      top: calc(50% - 70px); 
      left: 0; 
      right: 0; 
      z-index: 500; 
      transition: all .2s cubic-bezier(.47,0,.75,.72);
  } 
  
  .leaflet-pane { 
      position:  absolute; 
      left:  0; 
      top:  0;
      z-index: 400;
  } 
  
  .leaflet-tile-pane { 
      z-index: 200;
  } 
  
  .leaflet-shadow-pane { 
      z-index: 500;
  } 
  
  .leaflet-overlay-pane { 
      z-index: 400;
  } 
  
  .leaflet-marker-pane { 
      z-index: 600;
  } 
  
  .leaflet-tooltip-pane { 
      z-index: 650;
  } 
  
  .leaflet-popup-pane { 
      z-index:  700;
      cursor: auto;
  } 
  
  .leaflet-zoom-animated { 
      -webkit-transform-origin: 0 0; 
      -ms-transform-origin: 0 0; 
      transform-origin: 0 0;
  } 
  
  .leaflet-top { 
      position:  absolute; 
      z-index:  1000; 
      pointer-events:  none;
      top: 0;
  } 
  
  .leaflet-left { 
      left: 0;
  } 
  
  .leaflet-right { 
      right: 0;
  } 
  
  .leaflet-bottom { 
      position:  absolute; 
      z-index:  1000; 
      pointer-events:  none;
      bottom: 0;
  } 
  
  .leaflet-layer { 
      position: absolute; 
      left: 0; 
      top: 0;
  } 
  
  .leaflet-control { 
      position:   relative; 
      z-index:   800; 
      pointer-events:   auto;
      float:  left; 
      clear:  both;
      cursor: auto;
  } 
  
  .leaflet-bar { 
      box-shadow: 0 1px 5px rgba(0,0,0,.65); 
      border-radius: 4px;
  } 
  
  .leaflet-top .leaflet-control  { 
      margin-top: 10px;
  } 
  
  .leaflet-left .leaflet-control  { 
      margin-left: 10px;
  } 
  
  .leaflet-touch .leaflet-bar  { 
      box-shadow:  none;
      border: 2px solid rgba(0,0,0,.2); 
      background-clip: padding-box;
  } 
  
  .leaflet-control-attribution { 
      padding: 0 5px; 
      color: #333;
  } 
  
  .leaflet-right .leaflet-control  { 
      float: right;
  } 
  
  .leaflet-bottom .leaflet-control  { 
      margin-bottom: 10px;
  } 
  
  .leaflet-right .leaflet-control  { 
      margin-right: 10px;
  } 
  
  .leaflet-container .leaflet-control-attribution  { 
      background:  rgba(255,255,255,.7); 
      margin:  0;
      font-size: 11px;
  } 
  
  .leaflet-touch .leaflet-control-attribution  { 
      box-shadow: none;
  } 
  
  .leaflet-tile-container { 
      position:  absolute; 
      left:  0; 
      top:  0;
      pointer-events: none;
  } 
  
  a { 
      text-decoration:  none; 
      background-color:  transparent;
      color: #343434;
  } 
  
  [role="button"] { 
      cursor: pointer;
  } 
  
  .leaflet-control-zoom-in { 
      font: bold 18px 'Lucida Console',Monaco,monospace; 
      text-indent: 1px;
  } 
  
  a:link { 
      transition: all .2s ease;
  } 
  
  .leaflet-container a  { 
      -webkit-tap-highlight-color:  rgba(51,181,229,.4);
      color: #0078a8;
  } 
  
  .leaflet-bar a  { 
      background-color:  #fff; 
      border-bottom:  1px solid #ccc; 
      width:  26px; 
      height:  26px; 
      line-height:  26px; 
      display:  block; 
      text-align:  center; 
      text-decoration:  none; 
      color:  #000;
      background-position: 50% 50%; 
      background-repeat: no-repeat; 
      background-repeat: no-repeat; 
  } 
  
  .leaflet-touch .leaflet-control-zoom-in  { 
      font-size: 22px;
  } 
  
  .leaflet-bar a:first-child  { 
      border-top-left-radius: 4px; 
      border-top-right-radius: 4px;
  } 
  
  .leaflet-touch .leaflet-bar a  { 
      width: 30px; 
      height: 30px; 
      line-height: 30px;
  } 
  
  .leaflet-touch .leaflet-bar a:first-child  { 
      border-top-left-radius: 2px; 
      border-top-right-radius: 2px;
  } 
  
  a,a:hover { 
      color: #343434;
  } 
  
  a:hover { 
      text-decoration:  none;
      cursor: pointer; 
  } 
  
  .leaflet-bar a ,.leaflet-bar a:hover  { 
      background-color: #fff; 
      border-bottom: 1px solid #ccc; 
      width: 26px; 
      height: 26px; 
      line-height: 26px; 
      display: block; 
      text-align: center; 
      text-decoration: none; 
      color: #000;
  } 
  
  .leaflet-bar a:hover  { 
      background-color: #f4f4f4;
  } 
  
  .leaflet-control-zoom-out { 
      font: bold 18px 'Lucida Console',Monaco,monospace; 
      text-indent: 1px;
  } 
  
  .leaflet-touch .leaflet-control-zoom-out  { 
      font-size: 22px;
  } 
  
  .leaflet-bar a:last-child  { 
      border-bottom-left-radius: 4px; 
      border-bottom-right-radius: 4px; 
      border-bottom: none;
  } 
  
  .leaflet-touch .leaflet-bar a:last-child  { 
      border-bottom-left-radius: 2px; 
      border-bottom-right-radius: 2px;
  } 
  
  .leaflet-control-attribution a  { 
      text-decoration: none;
  } 
  
  .leaflet-control-attribution a:hover  { 
      text-decoration: underline;
  } 
  
  
  