
  * { 
    box-sizing:  border-box;
    outline: none!important;
} 





[class^="swal2"] { 
    -webkit-tap-highlight-color: transparent;
} 

:host { 
    --panel-bg:  #fbfbfd; 
    --primary:  #43d477; 
    --primary-hover:  #1fb354; 
    --primary-border:  #43d477; 
    --primary-border-hover:  #2aba5e; 
    --primary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
    --primary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
    --primary-btn-color:  #fff; 
    --primary-btn-color-hover:  #fff; 
    --font-family-base:  "main-font-family"; 

} 

div { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

.swal2-container { 
    display: flex; 
    position: fixed; 
    z-index: 1060; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    padding: .625em; 
    overflow-x: hidden; 
    transition: background-color .1s; 
    -webkit-overflow-scrolling: touch;
} 

.swal2-container.swal2-backdrop-show { 
    background: rgba(0, 0, 0, 0.081);
} 

.swal2-container.swal2-center { 
    align-items: center;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.swal2-popup { 
    display: none; 
    position: relative; 
    box-sizing: border-box; 
    flex-direction: column; 
    justify-content: center; 
    width: 32em; 
    max-width: 100%; 
    padding: 1.25em; 
    border: none; 
    border-radius: .3125em; 
    background: #fff; 
    font-family: inherit; 
    font-size: 1rem;
} 

.swal2-show { 
    -webkit-animation: swal2-show .3s; 
    animation: swal2-show .3s;
} 

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen) > .swal2-modal { 
    margin: auto;
} 

.swal2-header { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 0 1.8em;
} 

.swal2-content { 
    z-index: 1; 
    justify-content: center; 
    margin: 0; 
    padding: 0 1.6em; 
    color: #545454; 
    font-size: 1.125em; 
    font-weight: 400; 
    line-height: normal; 
    text-align: center; 
    word-wrap: break-word;
} 

.p-0 { 
    padding: 0!important;
} 

.text-left { 
    text-align: left!important;
} 

.swal2-actions { 
    display: flex; 
    z-index: 1; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 1.25em auto 0;
} 

.swal2-footer { 
    justify-content: center; 
    margin: 1.25em 0 0; 
    padding: 1em 0 0; 
    border-top: 1px solid #eee; 
    color: #545454; 
    font-size: 1em;
} 

.swal2-timer-progress-bar-container { 
    position: absolute; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    height: .25em; 
    overflow: hidden; 
    border-bottom-right-radius: .3125em; 
    border-bottom-left-radius: .3125em;
} 

ul { 
    margin-bottom:    1rem;
    margin-top:   0;
    margin:  0; 
    padding:  0; 
    box-sizing:  border-box;
    -webkit-margin-before: 0; 
    margin-block-start: 0; 
    -webkit-margin-after: 0; 
    margin-block-end: 0; 
    -webkit-margin-start: 0; 
    margin-inline-start: 0; 
    -webkit-margin-end: 0; 
    margin-inline-end: 0; 
    -webkit-padding-start: 0; 
    padding-inline-start: 0;
} 

.swal2-progress-steps { 
    align-items: center; 
    margin: 0 0 1.25em; 
    padding: 0; 
    background: inherit; 
    font-weight: 600;
} 

.swal2-icon { 
    position: relative; 
    box-sizing: content-box; 
    justify-content: center; 
    width: 5em; 
    height: 5em; 
    margin: 1.25em auto 1.875em; 
    border: .25em solid transparent; 
    border-radius: 50%; 
    font-family: inherit; 
    line-height: 5em; 
    cursor: default; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.swal2-icon.swal2-error { 
    border-color: #f27474; 
    color: #f27474;
} 

.swal2-icon.swal2-question { 
    border-color: #c9dae1; 
    color: #87adbd;
} 

.swal2-icon.swal2-warning { 
    border-color: #facea8; 
    color: #f8bb86;
} 

.swal2-icon.swal2-info { 
    border-color: #9de0f6; 
    color: #3fc3ee;
} 

.swal2-icon.swal2-success { 
    border-color: #a5dc86; 
    color: #a5dc86;
} 

img { 
    border-style:  none;
    vertical-align: middle;
} 

.swal2-image { 
    max-width: 100%; 
    margin: 1.25em auto;
} 

h2 { 
    margin-top:    0; 
    margin-bottom:    0; 
    font-weight:   700; 
    line-height:   1.3;
    font-size:  1.4rem;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

.swal2-title { 
    position: relative; 
    max-width: 100%; 
    margin: 0 0 .4em; 
    padding: 0; 
    color: #595959; 
    font-size: 1.875em; 
    font-weight: 600; 
    text-align: center; 
    text-transform: none; 
    word-wrap: break-word;
} 

button { 
    border-radius:    0;
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  visible;
    text-transform: none;
} 

.swal2-close { 
    position: absolute; 
    z-index: 2; 
    top: 0; 
    right: 0; 
    align-items: center; 
    justify-content: center; 
    width: 1.2em; 
    height: 1.2em; 
    padding: 0; 
    overflow: hidden; 
    transition: color .1s ease-out; 
    border: none; 
    border-radius: 0; 
    background: 0 0; 
    color: #ccc; 
    font-family: serif; 
    font-size: 2.5em; 
    line-height: 1.2; 
    cursor: pointer;
} 

[type="button"],button { 
    -webkit-appearance: button;
} 

[type="button"]:not(:disabled), button:not(:disabled) { 
    cursor: pointer;
} 

.swal2-close:hover { 
    transform: none; 
    background: 0 0; 
    color: #f27474;
} 

input { 
    margin:  0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    overflow:  visible;
    padding: 0; 
    box-sizing: border-box;
} 

.swal2-input { 
    margin:   1em auto;
    box-sizing:  border-box; 
    width:  100%; 
    transition:  border-color .3s,box-shadow .3s; 
    border:  1px solid #d9d9d9; 
    border-radius:  .1875em; 
    background:  inherit; 
    box-shadow:  inset 0 1px 1px rgba(0,0,0,.06); 
    color:  inherit; 
    font-size:  1.125em;
    height: 2.625em; 
    padding: 0 .75em;
} 

.swal2-file { 
    margin:   1em auto;
    box-sizing:  border-box; 
    width:  100%; 
    transition:  border-color .3s,box-shadow .3s; 
    border:  1px solid #d9d9d9; 
    border-radius:  .1875em; 
    background:  inherit; 
    box-shadow:  inset 0 1px 1px rgba(0,0,0,.06); 
    color:  inherit; 
    font-size:  1.125em;
} 

.swal2-range { 
    margin: 1em auto; 
    background: #fff;
} 

select { 
    margin:   0; 
    font-family:   inherit; 
    font-size:   inherit; 
    line-height:   inherit;
    text-transform:  none;
    word-wrap: normal;
} 

.swal2-select { 
    margin:  1em auto;
    min-width: 50%; 
    max-width: 100%; 
    padding: .375em .625em; 
    background: inherit; 
    color: inherit; 
    font-size: 1.125em;
} 

.swal2-radio { 
    margin:  1em auto;
    align-items: center; 
    justify-content: center; 
    background: #fff; 
    color: inherit;
} 

label { 
    display: inline-block; 
    margin-bottom: .5rem;
} 

.swal2-checkbox { 
    margin:  1em auto;
    align-items: center; 
    justify-content: center; 
    background: #fff; 
    color: inherit;
} 

textarea { 
    margin:   0; 
    font-family:    inherit; 
    font-size:    inherit; 
    line-height:    inherit;
    overflow:   auto; 
    resize:   vertical;
    padding:  0; 
    box-sizing:  border-box;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    outline: none;
} 

.swal2-textarea { 
    margin:   1em auto;
    box-sizing:  border-box; 
    width:  100%; 
    transition:  border-color .3s,box-shadow .3s; 
    border:  1px solid #d9d9d9; 
    border-radius:  .1875em; 
    background:  inherit; 
    box-shadow:  inset 0 1px 1px rgba(0,0,0,.06); 
    color:  inherit; 
    font-size:  1.125em;
    height: 6.75em; 
    padding: .75em;
} 

.swal2-validation-message { 
    display: none; 
    align-items: center; 
    justify-content: center; 
    padding: .625em; 
    overflow: hidden; 
    background: #f0f0f0; 
    color: #666; 
    font-size: 1em; 
    font-weight: 300;
} 

.swal2-validation-message:before { 
    content: "!"; 
    display: inline-block; 
    width: 1.5em; 
    min-width: 1.5em; 
    height: 1.5em; 
    margin: 0 .625em; 
    border-radius: 50%; 
    background-color: #f27474; 
    color: #fff; 
    font-weight: 600; 
    line-height: 1.5em; 
    text-align: center;
} 

.swal2-styled { 
    margin: .3125em; 
    padding: .625em 2em; 
    box-shadow: none; 
    font-weight: 500;
} 

.swal2-styled:not([disabled]) { 
    cursor: pointer;
} 

.swal2-styled.swal2-confirm { 
    border: 0; 
    border-radius: .25em; 
    background: initial; 
    background-color: #3085d6; 
    color: #fff; 
    font-size: 1.0625em;
} 

.swal2-actions:not(.swal2-loading) .swal2-styled:hover { 
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
} 

.swal2-styled.swal2-cancel { 
    border: 0; 
    border-radius: .25em; 
    background: initial; 
    background-color: #aaa; 
    color: #fff; 
    font-size: 1.0625em;
} 

.swal2-timer-progress-bar { 
    width: 100%; 
    height: .25em; 
    background: rgba(0,0,0,.2);
} 

.swal2-range input  { 
    width:  80%;
    height: 2.625em; 
    padding: 0; 
    font-size: 1.125em; 
    line-height: 2.625em;
} 

output { 
    display: inline-block;
} 

.swal2-range output  { 
    width:  20%; 
    color:  inherit; 
    font-weight:  600; 
    text-align:  center;
    height: 2.625em; 
    padding: 0; 
    font-size: 1.125em; 
    line-height: 2.625em;
} 

.swal2-checkbox input  { 
    margin: 0 .4em;
} 

input[type="checkbox"] { 
    box-sizing: border-box; 
    padding: 0;
} 

h3 { 
    margin-top:    0; 
    margin-bottom:    0; 
    font-weight:   700; 
    line-height:   1.3;
    font-size:  1.2rem;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

.section-title { 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 1.2; 
    color: #171347;
} 

.section-title.after-line { 
    display: flex; 
    flex: 1; 
    align-items: center;
} 

.section-title.after-line:after { 
    content: ""; 
    flex: 1 0 20px; 
    height: 2px; 
    background-color: #f1f1f1; 
    margin-left: 10px;
} 

.mt-20 { 
    margin-top: 20px!important;
} 

.text-center { 
    text-align: center!important;
} 

.d-flex { 
    display: flex!important;
} 

.justify-content-end { 
    justify-content: flex-end!important;
} 

.align-items-center { 
    align-items: center!important;
} 

.mt-30 { 
    margin-top: 30px!important;
} 

.rounded-circle { 
    border-radius: 50%!important;
} 

h4 { 
    margin-top:    0; 
    margin-bottom:    0; 
    font-weight:   700; 
    line-height:   1.3;
    font-size:  1rem;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

.font-weight-bold { 
    font-weight: 700!important;
} 

.font-16 { 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5;
} 

.text-dark-blue { 
    color: #171347;
} 

.d-block { 
    display: block!important;
} 

.mt-10 { 
    margin-top: 10px!important;
} 

.text-gray { 
    color: #818894!important;
} 

.font-14 { 
    font-size:  .875rem;
    font-weight: 400; 
    line-height: 1.4;
} 

.form-group { 
    margin-bottom: 1rem;
} 

.mt-15 { 
    margin-top: 15px!important;
} 

.px-50 { 
    padding-right:  50px!important;
    padding-left: 50px!important;
} 

.btn { 
    display: inline-block; 
    font-weight: 500; 
    color: #343434; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding-right: 32px; 
    padding-left: 32px; 
    height: 48px; 
    font-size: .875rem; 
    border-radius: 8px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn-primary { 
    color: #fff; 
    background-color: #43d477; 
    border-color: #43d477; 
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(52,52,52,.075);
} 

.btn-sm { 
    border-radius:  5px; 
    display:   inline-flex; 
    align-items:   center; 
    justify-content:   center;
    padding-right:  16px; 
    padding-left:  16px; 
    height:  36px; 
    font-size:  14px;
    font-weight:  500; 
} 

.btn-primary { 
    color: var(--primary-btn-color); 
    background-color: var(--primary); 
    border-color: var(--primary-border); 
    box-shadow: var(--primary-btn-shadow); 
    transition: all .3s;
} 

.btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn:hover { 
    color: #343434; 
    text-decoration: none;
} 

.btn-primary:hover { 
    color: #fff; 
    background-color: #2dc463; 
    border-color: #2aba5e;
} 

.btn-primary:active,.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active { 
    color: var(--primary-btn-color-hover); 
    background-color: var(--primary-hover); 
    border-color: var(--primary-border-hover); 
    box-shadow: var(--primary-btn-shadow-hover); 
    transition: all .3s;
} 

.btn-danger { 
    color: #fff; 
    border-color: #f63c3c; 
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(52,52,52,.075);
} 

.ml-10 { 
    margin-left: 10px!important;
} 

.btn-danger { 
    box-shadow: 0 3px 6px 0 rgba(201,1,1,.29); 
    background-color: #f63c3c; 
    transition: all .3s;
} 

.btn-danger:hover { 
    color:  #fff; 
    background-color:  #dd3535; 
    border-color:  #f40b0b;
    box-shadow: 0 3px 8px 0 rgba(201,1,1,.29); 
    transition: all .3s;
} 

.form-control { 
    display: block; 
    width: 100%; 
    height: 2.5rem; 
    padding: .5rem 1rem; 
    font-family: main-font-family; 
    font-size: .75rem; 
    font-weight: 400; 
    line-height: 1.25; 
    color: #343434; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ececec; 
    border-radius: .5rem; 
    box-shadow: none; 
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

input[type="text"] { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    outline: none;
} 

.form-control:focus { 
    color: #343434; 
    background-color: #fff; 
    border-color: #43d477; 
    outline: 0; 
    box-shadow: 1.5rem;
} 

.invalid-feedback { 
    display: none; 
    width: 100%; 
    margin-top: .25rem; 
    font-size: 80%; 
    color: #f63c3c;
} 


@keyframes swal2-show { 
  0% {  
      transform: scale(.7); 
      transform: scale(0.7); 
  }  
  45% {  
      transform: scale(1.05); 
      transform: scale(1.05); 
  }  
  80% {  
      transform: scale(.95); 
      transform: scale(0.95); 
  }  
  100% {  
      transform: scale(1); 
      transform: scale(1); 
  }  

} 
