input[type=text]{
    outline: 0;
    border: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid ;
    opacity: 0.6;
}
input[type=text]:focus{
    border-color: #FF6366;
    opacity: 1;
}
.btn-primary{
    background-color: #FF6366 !important;
    border-color: #FF6366;
}