<section class="snipcss-Wi2yk snip-section">
    <h3 class="section-title after-line mt-35 snip-h3">
      Images
    </h3>
    <div class="row mt-20 snip-div" *ngIf="(info.UserInfo$ |async) as user">
      <div class="col-12 col-lg-4 snip-div">
        <div class="form-group snip-div">
          <label class="input-label">
            Profile Image
          </label>
          <img src="{{user.photoUrl}}" alt="photo de profile" id="profileImagePreview" width="150" height="150" class="rounded-circle my-15 d-block ml-5 snip-img">
          <button id="selectAvatarBtn" type="button" class="btn btn-sm btn-secondary select-image-cropit snip-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up text-white mr-10 snip-svg">
              <line x1="12" y1="19" x2="12" y2="5">
              </line>
              <polyline points="5 12 12 5 19 12">
              </polyline>
            </svg>
            Select an Image
          </button>
          <div class="input-group snip-div">
            <input type="hidden" name="profile_image" id="profile_image" class="form-control ">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 snip-div">
        <div class="form-group snip-div">
          <label class="input-label">
            Profile Cover
          </label>
          <img src="{{user.coverUrl}}" alt="" id="profileCoverPreview" height="150" class="rounded-sm my-15 d-block w-100 snip-img">
          <div class="form-group snip-div">
            <div class="input-group snip-div">
              <div class="input-group-prepend snip-div">
                <button type="button" class="input-group-text panel-file-manager snip-button" data-input="cover_img" data-preview="holder">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up text-white snip-svg">
                    <line x1="12" y1="19" x2="12" y2="5">
                    </line>
                    <polyline points="5 12 12 5 19 12">
                    </polyline>
                  </svg>
                </button>
              </div>
              <input type="text" name="cover_img" id="cover_img" value="/store/1015/6.jpg" class="form-control " placeholder="1920x530px preferred">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
