<div class="panel-content snipcss-pWrle snip-div w-100">
    <section class="snip-section">
      <h2 class="section-title snip-h2">
        {{'notifications'|translate}}
      </h2>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course approve
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                1 Jul 2022 | 04:35
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                your course with title New Learning Page approved
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="2005" id="showNotificationMessage2005" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>your course with title New Learning Page approved</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course created
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                1 Jul 2022 | 04:35
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                you create new course&nbsp;with Title New Learning Page
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="2004" id="showNotificationMessage2004" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>you create new course&nbsp;with Title New Learning Page</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course approve
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                28 Jun 2022 | 04:58
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                your course with title New Learning Page approved
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="2001" id="showNotificationMessage2001" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>your course with title New Learning Page approved</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course approve
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                27 Jun 2022 | 16:38
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                your course with title New Learning Page approved
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1999" id="showNotificationMessage1999" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>your course with title New Learning Page approved</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course approve
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                26 Jun 2022 | 01:15
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                your course with title New Learning Page approved
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1996" id="showNotificationMessage1996" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>your course with title New Learning Page approved</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                new badge
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                25 Jun 2022 | 05:10
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                You received Forums Top User&nbsp;badge
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1983" id="showNotificationMessage1983" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>You received Forums Top User&nbsp;badge</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                new badge
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                25 Jun 2022 | 05:10
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                You received Store Best Seller&nbsp;badge
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1982" id="showNotificationMessage1982" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>You received Store Best Seller&nbsp;badge</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Course approve
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                24 Jun 2022 | 16:39
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                your course with title New Learning Page approved
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1963" id="showNotificationMessage1963" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>your course with title New Learning Page approved</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                Rating (Feedback)
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                24 Jun 2022 | 16:38
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                new feedback submitted for course with title Travel Management Course bu student Cameron Schofield and rate 5
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1962" id="showNotificationMessage1962" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>new feedback submitted for course with title Travel Management Course bu student Cameron Schofield and rate 5</p>">
          </div>
        </div>
      </div>
      <div class="notification-card rounded-sm panel-shadow bg-white py-15 py-lg-20 px-15 px-lg-40 mt-20 snip-div">
        <div class="row align-items-center snip-div">
          <div class="col-12 col-lg-3 mt-10 mt-lg-0 d-flex align-items-start snip-div">
            <span class="notification-badge badge badge-circle-danger mr-5 mt-5 d-flex align-items-center justify-content-center">
            </span>
            <div class="snip-div">
              <h3 class="notification-title font-16 font-weight-bold text-dark-blue snip-h3">
                New sales
              </h3>
              <span class="notification-time d-block font-12 text-gray mt-5">
                24 Jun 2022 | 11:07
              </span>
            </div>
          </div>
          <div class="col-12 col-lg-5 mt-10 mt-lg-0 snip-div">
            <span class="font-weight-500 text-gray font-14">
              <p class="snip-p">
                new sale for course with title Microsoft Office Beginner to Expert Bundle
              </p>
            </span>
          </div>
          <div class="col-12 col-lg-4 mt-10 mt-lg-0 text-right snip-div">
            <button type="button" data-id="1958" id="showNotificationMessage1958" class="js-show-message btn btn-border-white snip-button">
              View
            </button>
            <input type="hidden" class="notification-message" value="<p>new sale for course with title Microsoft Office Beginner to Expert Bundle</p>">
          </div>
        </div>
      </div>
      <div class="my-30 snip-div">
        <nav class="d-flex justify-content-center snip-nav">
          <ul class="custom-pagination d-flex align-items-center justify-content-center snip-ul">
            <li class="previous disabled snip-li">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left snip-svg">
                <polyline points="15 18 9 12 15 6">
                </polyline>
              </svg>
            </li>
            <li class="snip-li">
              <span class="active">
                1
              </span>
            </li>
            <li class="snip-li">
              <a href="https://lms.rocket-soft.org/panel/notifications?page=2" class="snip-a">
                2
              </a>
            </li>
            <li aria-disabled="true" class="snip-li">
              <span>
                ...
              </span>
            </li>
            <li class="snip-li">
              <a href="https://lms.rocket-soft.org/panel/notifications?page=12" class="snip-a">
                12
              </a>
            </li>
            <li class="next snip-li">
              <a href="https://lms.rocket-soft.org/panel/notifications?page=2" class="snip-a">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right snip-svg">
                  <polyline points="9 18 15 12 9 6">
                  </polyline>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <div class="mt-5 d-none snip-div" id="messageModal">
      <div class="text-center snip-div">
        <h3 class="modal-title font-16 font-weight-bold text-dark-blue snip-h3">
        </h3>
        <span class="modal-time d-block font-12 text-gray mt-5">
        </span>
        <span class="modal-message text-gray mt-20">
        </span>
      </div>
    </div>
  </div>
  
