@font-face { 
    font-family:'main-font-family';
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://lms.rocket-soft.org/store/1/fonts/montserrat-regular.woff2) format('woff2');
  } 
  @font-face { 
    font-family:'main-font-family';
    font-style:normal;
    font-weight:bold;
    font-display:swap;
    src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://lms.rocket-soft.org/store/1/fonts/montserrat-bold.woff2) format('woff2');
  } 
  @font-face { 
    font-family:'main-font-family';
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:local('Montserrat Regular'), local('Montserrat-Regular'), url(https://lms.rocket-soft.org/store/1/fonts/montserrat-medium.woff2) format('woff2');
  } 
    a {  
      color:#343434;
    }  
  * { 
      box-sizing:  border-box;
      outline: none!important;
  } 
  
  div { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .d-flex { 
      display: flex!important;
  } 
  
  .justify-content-end { 
      justify-content: flex-end!important;
  } 
  
  body { 
      margin:    0; 
      font-family:   var(--font-family-base)!important; 
      font-size:    1rem; 
      font-weight:    400; 
      line-height:    1.3; 
      color:    #343434; 
      text-align:    left; 
      background-color:  var(--panel-bg);
      padding:   0; 
      box-sizing:   border-box;
      overflow:  hidden;
  } 
  
  html { 
      font-family:   sans-serif; 
      line-height:   1.15; 
      -webkit-text-size-adjust:   100%; 
      -webkit-tap-highlight-color:   rgba(52,52,52,0);
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      overflow-y: scroll;
  } 
  
  :root { 
      --panel-bg:  #fbfbfd; 
      --primary:  #43d477; 
      --secondary:  #1f3b64; 
      --primary-hover:  #1fb354; 
      --primary-border:  #43d477; 
      --primary-border-hover:  #2aba5e; 
      --primary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --primary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --primary-btn-color:  #fff; 
      --primary-btn-color-hover:  #fff; 
      --font-family-base:  "main-font-family"; 
  
  } 
  
  .panel-content { 
      padding: 30px 15px; 
      width: calc(100% - 254px);
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  section { 
      display: block;
  } 
  
  .d-none { 
      display: none!important;
  } 
  
  .mt-5 { 
      margin-top: 5px!important;
  } 
  
  h2 { 
      margin-top:    0; 
      margin-bottom:    0; 
      font-weight:   700; 
      line-height:   1.3;
      font-size:  1.4rem;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .section-title { 
      font-size: 16px; 
      font-weight: 700; 
      line-height: 1.2; 
      color: #171347;
  } 
  
  .bg-white { 
      background-color: #fff!important;
  } 
  
  .rounded-sm { 
      border-radius: .625rem!important;
  } 
  
  .mt-20 { 
      margin-top: 20px!important;
  } 
  
  .py-15 { 
      padding-top: 15px!important;
  } 
  
  .px-15 { 
      padding-right: 15px!important;
  } 
  
  .py-15 { 
      padding-bottom: 15px!important;
  } 
  
  .px-15 { 
      padding-left: 15px!important;
  } 
  
  @media (min-width: 992px){ 
    .py-lg-20 { 
      padding-top:  20px!important;
      padding-bottom: 20px!important;
    } 
  }     
  
  @media (min-width: 992px){ 
    .px-lg-40 { 
      padding-right:  40px!important;
      padding-left: 40px!important;
    } 
  }     
  
  .panel-shadow { 
      box-shadow: 0 12px 23px 0 rgba(62,73,84,.04);
  } 
  
  .notification-card { 
      border: 3px solid transparent; 
      transition: all .3s ease;
  } 
  
  .notification-card:hover { 
      box-shadow: 0 10px 30px 0 rgba(67,212,119,.3)!important; 
      border: 3px solid var(--primary)!important; 
      transition: all .3s ease;
  } 
  
  .my-30 { 
      margin-top:  30px!important;
      margin-bottom: 30px!important;
  } 
  
  .text-center { 
      text-align: center!important;
  } 
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .align-items-center { 
      align-items: center!important;
  } 
  
  nav { 
      display: block;
  } 
  
  .justify-content-center { 
      justify-content: center!important;
  } 
  
  h3 { 
      margin-top:    0; 
      margin-bottom:    0; 
      font-weight:   700; 
      line-height:   1.3;
      font-size:  1.2rem;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .modal-title { 
      margin-bottom: 0; 
      line-height: 1.3;
  } 
  
  .font-weight-bold { 
      font-weight: 700!important;
  } 
  
  .font-16 { 
      font-size: 1rem; 
      font-weight: 400; 
      line-height: 1.5;
  } 
  
  .text-dark-blue { 
      color: #171347;
  } 
  
  .d-block { 
      display: block!important;
  } 
  
  .text-gray { 
      color: #818894!important;
  } 
  
  .font-12 { 
      font-weight:  400; 
      line-height:  1.4;
      font-size: .75rem;
  } 
  
  .col-12,.col-lg-3 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .col-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-3 { 
      flex: 0 0 25%; 
      max-width: 25%;
    } 
  }     
  
  .align-items-start { 
      align-items: flex-start!important;
  } 
  
  .mt-10 { 
      margin-top: 10px!important;
  } 
  
  @media (min-width: 992px){ 
    .mt-lg-0 { 
      margin-top: 0!important;
    } 
  }     
  
  .col-12,.col-lg-5 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-5 { 
      flex: 0 0 41.6666666667%; 
      max-width: 41.6666666667%;
    } 
  }     
  
  .col-12,.col-lg-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      flex: 0 0 33.3333333333%; 
      max-width: 33.3333333333%;
    } 
  }     
  
  .text-right { 
      text-align: right!important;
  } 
  
  ul { 
      margin-bottom:    1rem;
      margin-top:   0;
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      -webkit-margin-before: 0; 
      margin-block-start: 0; 
      -webkit-margin-after: 0; 
      margin-block-end: 0; 
      -webkit-margin-start: 0; 
      margin-inline-start: 0; 
      -webkit-margin-end: 0; 
      margin-inline-end: 0; 
      -webkit-padding-start: 0; 
      padding-inline-start: 0;
  } 
  
  .custom-pagination { 
      border-radius: 30px; 
      box-shadow: 0 5px 10px 0 rgba(0,0,0,.05); 
      border: 1px solid #ececec; 
      background-color: #fff; 
      padding: 6px 8px;
  } 
  
  .badge { 
      display: inline-block; 
      padding: 0 .5rem; 
      font-size: .75rem; 
      font-weight: 700; 
      line-height: 1; 
      text-align: center; 
      white-space: nowrap; 
      vertical-align: baseline; 
      border-radius: .3125rem; 
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .mr-5 { 
      margin-right: 5px!important;
  } 
  
  .badge-circle-danger { 
      font-size: .75rem!important;
  } 
  
  .badge { 
      line-height: 1.58; 
      font-weight: 400; 
      pointer-events: none;
  } 
  
  .badge-circle-danger { 
      width: 24px; 
      height: 24px; 
      font-size: .875rem; 
      border-radius: 50%; 
      padding: 0; 
      line-height: 1.58; 
      color: #fff; 
      background-color: #f63c3c;
  } 
  
  .badge:empty { 
      display: none;
  } 
  
  .notification-card .badge  { 
      display: block; 
      width: 16px; 
      height: 16px;
  } 
  
  .font-14 { 
      font-size:  .875rem;
      font-weight: 400; 
      line-height: 1.4;
  } 
  
  .font-weight-500 { 
      font-weight: 500;
  } 
  
  button { 
      border-radius:    0;
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      text-transform: none;
  } 
  
  [type="button"],button { 
      -webkit-appearance: button;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 500; 
      color: #343434; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: 1px solid transparent; 
      padding-right: 32px; 
      padding-left: 32px; 
      height: 48px; 
      font-size: .875rem; 
      border-radius: 8px; 
      display: inline-flex; 
      align-items: center; 
      justify-content: center; 
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .btn-border-white { 
      background-color: #fff; 
      border-radius: 6px; 
      border: 1px solid #f1f1f1; 
      color: #818894; 
      transition: all .3s;
  } 
  
  [type="button"]:not(:disabled), button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn:hover { 
      color: #343434; 
      text-decoration: none;
  } 
  
  .btn-border-white:hover { 
      background-color: #ececec; 
      border: 1px solid #ececec; 
      color: #818894; 
      transition: all .3s;
  } 
  
  input { 
      margin:  0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      padding: 0; 
      box-sizing: border-box;
  } 
  
  li { 
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      list-style: none;
  } 
  
  .custom-pagination li  { 
      margin-right:  10px; 
      border-radius:  50px; 
      width:  48px; 
      height:  48px;
      display: flex; 
      align-items: center; 
      justify-content: center;
  } 
  
  .custom-pagination .previous  { 
      border: 1px solid var(--primary);
  } 
  
  .custom-pagination li.disabled  { 
      border: 1px solid #ececec!important; 
      cursor: not-allowed; 
      color: #ececec;
  } 
  
  .custom-pagination .next  { 
      border: 1px solid var(--primary);
  } 
  
  .custom-pagination li:last-child  { 
      margin-right: 0;
  } 
  
  p { 
      margin-top:   0; 
      margin-bottom:   1rem;
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      line-height: 1.5;
  } 
  
  svg { 
      vertical-align:  inherit;
      overflow:  auto; 
  } 
  
  .custom-pagination li span  { 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      width: 100%; 
      height: 100%; 
      border-radius: 50%;
  } 
  
  .custom-pagination li span.active  { 
      border: 1px solid var(--primary); 
      background-color: var(--primary); 
      color: #fff;
  } 
  
  a { 
      text-decoration:  none; 
      background-color:  transparent;
      color: #343434;
  } 
  
  a:link { 
      transition: all .2s ease;
  } 
  
  .custom-pagination li a  { 
      display:  flex; 
      align-items:  center; 
      justify-content:  center;
      width: 100%; 
      height: 100%; 
      background-color: transparent; 
      border-radius: 50%; 
      font-size: 16px; 
      color: #818894; 
      transition: all .3s ease;
  } 
  
  a,a:hover { 
      color: #343434;
  } 
  
  a:hover { 
      text-decoration:  none;
      cursor: pointer; 
  } 
  
  .custom-pagination li a:hover  { 
      background-color: var(--primary); 
      color: #fff; 
      transition: all .3s ease;
  } 
  
  
  