 
    a {  
      color:#343434;
    }  
  * { 
      box-sizing:  border-box;
      outline: none!important;
  } 
  
  div { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .d-flex { 
      display: flex!important;
  } 
  
  .justify-content-end { 
      justify-content: flex-end!important;
  } 
  
  body { 
      margin:    0; 
      font-family:   var(--font-family-base)!important; 
      font-size:    1rem; 
      font-weight:    400; 
      line-height:    1.3; 
      color:    #343434; 
      text-align:    left; 
      background-color:  var(--panel-bg);
      padding:   0; 
      box-sizing:   border-box;
      overflow:  hidden;
  } 
  
  html { 
      font-family:   sans-serif; 
      line-height:   1.15; 
      -webkit-text-size-adjust:   100%; 
      -webkit-tap-highlight-color:   rgba(52,52,52,0);
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      overflow-y: scroll;
  } 
  
  :root { 
      --panel-bg:  #fbfbfd; 
      --primary:  #43d477; 
      --secondary:  #1f3b64; 
      --primary-hover:  #1fb354; 
      --primary-border:  #43d477; 
      --primary-border-hover:  #2aba5e; 
      --primary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --primary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --primary-btn-color:  #fff; 
      --primary-btn-color-hover:  #fff; 
      --font-family-base:  "main-font-family"; 
  
  } 
  
  .panel-content { 
      padding: 30px 15px; 
      width: calc(100% - 254px);
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  .bg-white { 
      background-color: #fff!important;
  } 
  
  .rounded-sm { 
      border-radius: .625rem!important;
  } 
  
  .d-block { 
      display: block!important;
  } 
  
  @media (min-width: 992px){ 
    .d-lg-flex { 
      display: flex!important;
    } 
  }     
  
  .align-items-center { 
      align-items: center!important;
  } 
  
  .p-15 { 
      padding: 15px!important;
  } 
  
  .panel-shadow { 
      box-shadow: 0 12px 23px 0 rgba(62,73,84,.04);
  } 
  
  .webinar-progress .progress-item { 
      padding: 0 25px; 
      border-left: 1px solid #ececec;
  } 
  
  .progress-item:first-child  { 
      padding-left: 0; 
      border-left: none;
  } 
  
  .col-12,.col-lg-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .col-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      flex: 0 0 33.3333333333%; 
      max-width: 33.3333333333%;
    } 
  }     
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mt-20 { 
      margin-top: 20px!important;
  } 
  
  section { 
      display: block;
  } 
  
  form { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .mt-30 { 
      margin-top: 30px!important;
  } 
  
  .form-group { 
      margin-bottom: 1rem;
  } 
  
  .justify-content-between { 
      justify-content: space-between!important;
  } 
  
  a { 
      text-decoration:  none; 
      background-color:  transparent;
      color: #343434;
  } 
  
  .rounded-circle { 
      border-radius: 50%!important;
  } 
  
  .justify-content-center { 
      justify-content: center!important;
  } 
  
  .p-10 { 
      padding: 10px!important;
  } 
  
  a:visited { 
      transition: all .2s ease;
  } 
  
  .webinar-progress .progress-item .progress-icon { 
      background-color: #f1f1f1; 
      width: 48px; 
      height: 48px; 
      transition: all .3s ease;
  } 
  
  .webinar-progress .progress-item .progress-icon.active { 
      background-color: transparent; 
      background-image: linear-gradient(180deg,#9effc1,var(--primary));
  } 
  
  a,a:hover { 
      color: #343434;
  } 
  
  a:hover { 
      text-decoration:  none;
      cursor: pointer; 
  } 
  
  .progress-icon:hover  { 
      background-color: var(--primary); 
      transition: all .3s ease;
  } 
  
  input { 
      margin:  0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: 2.5rem; 
      padding: .5rem 1rem; 
      font-family: main-font-family; 
      font-size: .75rem; 
      font-weight: 400; 
      line-height: 1.25; 
      color: #343434; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 1px solid #ececec; 
      border-radius: .5rem; 
      box-shadow: none; 
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  input[type="text"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  .input-label { 
      font-size: 14px; 
      font-weight: 500; 
      line-height: 1.19; 
      color: #171347;
  } 
  
  input[type="password"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  input:-webkit-autofill { 
      animation-name: autofill; 
      animation-fill-mode: both;
  } 
  
  input[type="tel"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  a:link { 
      transition: all .2s ease;
  } 
  
  select { 
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      text-transform:  none;
      word-wrap: normal;
  } 
  
  .select2-hidden-accessible { 
      border: 0 !important; 
      clip: rect(0 0 0 0) !important; 
      -webkit-clip-path: inset(50%) !important; 
      clip-path: inset(50%) !important; 
      height: 1px !important; 
      overflow: hidden !important; 
      padding: 0 !important; 
      position: absolute !important; 
      width: 1px !important; 
      white-space: nowrap !important;
  } 
  
  .select2-container { 
      width:  100%!important;
      box-sizing: border-box; 
      display: inline-block; 
      margin: 0; 
      position: relative; 
      vertical-align: middle;
  } 
  
  .cursor-pointer { 
      cursor: pointer;
  } 
  
  .custom-control { 
      position: relative; 
      display: block; 
      min-height: 1.3rem; 
      padding-left: 2rem;
  } 
  
  .custom-switch { 
      padding-left: 3.125rem;
  } 
  
  .custom-control-input { 
      position: absolute; 
      left: 0; 
      z-index: -1; 
      width: 1.5rem; 
      height: 1.4rem; 
      opacity: 0;
  } 
  
  input[type="checkbox"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .custom-control-label { 
      position:  relative; 
      margin-bottom:  0; 
      vertical-align:  top;
      cursor: pointer;
  } 
  
  .custom-control-label:before { 
      pointer-events: none; 
      background-color: #fff; 
      border: 2px solid #adb5bd; 
      box-shadow: none;
  } 
  
  .custom-control-label:after,.custom-control-label:before { 
      position: absolute; 
      top: -.1rem; 
      left: -2rem; 
      display: block; 
      width: 1.5rem; 
      height: 1.5rem; 
      content: "";
  } 
  
  .custom-control-label:before,.custom-file-label,.custom-select { 
      transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .custom-switch .custom-control-label:before  { 
      left:  -3.125rem; 
      width:  2.625rem; 
      pointer-events:  all; 
      border-radius:  .75rem;
      top: -.11rem;
  } 
  
  .custom-control-label:after { 
      background: no-repeat 50%/50% 50%; 
      background-image: initial; 
      background-position-x: 50%; 
      background-position-y: center; 
      background-size: 50% 50%; 
      background-repeat: no-repeat; 
      background-repeat: no-repeat; 
      background-attachment: initial; 
      background-origin: initial; 
      background-clip: initial; 
      background-color: initial;
  } 
  
  .custom-switch .custom-control-label:after  { 
      top: calc(-.1rem + 4px); 
      left: calc(-3.125rem + 4px); 
      width: calc(1.5rem - 8px); 
      height: calc(1.5rem - 8px); 
      background-color: #adb5bd; 
      border-radius: .75rem; 
      transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .select2-container .select2-selection  { 
      display: block; 
      width: 100%; 
      height: 2.5rem!important; 
      padding: .5rem 1rem!important; 
      font-size: .75rem!important; 
      font-weight: 400!important; 
      line-height: 1.25!important; 
      color: #343434!important; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 1px solid #ececec!important; 
      border-radius: .5rem!important; 
      box-shadow: none!important; 
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .select2-container .select2-selection--single  { 
      box-sizing: border-box; 
      cursor: pointer; 
      display: block; 
      height: 28px; 
      user-select: none; 
      -webkit-user-select: none;
  } 
  
  .select2-container--default .select2-selection--single  { 
      background-color: #fff; 
      border: 1px solid #aaa; 
      border-radius: 4px;
  } 
  
  .select2-container .select2-selection--single .select2-selection__rendered  { 
      display: block; 
      padding-left: 8px; 
      padding-right: 20px; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__rendered  { 
      color: #444; 
      line-height: 28px;
  } 
  
  .select2-container .select2-selection .select2-selection__arrow  { 
      top: 8px!important;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__arrow  { 
      height: 26px; 
      position: absolute; 
      top: 1px; 
      right: 1px; 
      width: 20px;
  } 
  
  b { 
      font-weight: bolder;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b  { 
      border-color: #888 transparent transparent transparent; 
      border-style: solid; 
      border-width: 5px 4px 0 4px; 
      height: 0; 
      left: 50%; 
      margin-left: -4px; 
      margin-top: -2px; 
      position: absolute; 
      top: 50%; 
      width: 0;
  } 
  
  
  @keyframes autofill { 
    100% {  
        background: transparent; 
        background-image: initial; 
        background-position-x: initial; 
        background-position-y: initial; 
        background-size: initial; 
        background-repeat: initial; 
        background-attachment: initial; 
        background-origin: initial; 
        background-clip: initial; 
        background-color: transparent; 
    }  
  
  } 

  
  