<section class="snipcss-myBl3 snip-section">
    <h3 class="section-title after-line mt-35 snip-h3">
      About
    </h3>
    <div class="row mt-20 snip-div">
      <div class="col-12 col-lg-6 snip-div">
        <div class="form-group snip-div">
          <label class="input-label">
            Biography
          </label>
          <textarea name="about" rows="9" class="form-control ">
            Robert started his career as a Unix and Linux System Engineer in 1999. Since that time he has utilized his Linux skills at companies such as Xerox, UPS, Hewlett-Packard, and Amazon.com. Additionally, he has acted as a technical consultant and independent contractor for small businesses and Fortune 500 companies.
            Robert has professional experience with CentOS, RedHat Enterprise Linux, SUSE Linux Enterprise Server, and Ubuntu. He has used several Linux distributions on personal projects including Debian, Slackware, CrunchBang, and others. In addition to Linux, Jason has experience supporting proprietary Unix operating systems including AIX, HP-UX, and Solaris.
            He enjoys teaching others how to use and exploit the power of the Linux operating system. He is also the author of the books "Linux for Beginners" and "Command Line Kung Fu."
          </textarea>
        </div>
        <div class="form-group snip-div">
          <label class="input-label">
            Job Title
          </label>
          <textarea name="bio" rows="3" class="form-control ">
            System Administrator at Amazon
          </textarea>
          <div class="mt-15 snip-div">
            <p class="font-12 text-gray snip-p">
              - The "Job title" will be displayed at the bottom of your name on the profile cards.
            </p>
            <p class="font-12 text-gray snip-p">
              - Keep it short (2 or 3 words) Eg "Product designer, Senior software engineer".
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
