<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SMS Validation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Bonjour !</h5>
        <p> <b>Saisissez le code de vérification</b> <br>
          envoyé à votre numéro de téléphone</p>
        <form [formGroup]="SmsForm">
          <div class="form-control p-3">
            <i class="bi bi-chat-left-text me-1"></i>
            <input type="text" placeholder="Num telephone" formControlName="phoneNumber">
          </div>
          <div class="form-control p-3">
            <i class="bi bi-chat-left-text me-1"></i>
            <input type="text" placeholder="Code Validation" formControlName="code">
          </div>
        </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button  type="button" class="btn btn-primary" (click)="sendMessage()">Validation</button>
      </div>
    </div>
  </div>
</div>