<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/templatemo-eduwell.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#services">Sections</a></li>
                        <li class="scroll-to-section"><a href="#courses">Discover</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Login</a>
                            <ul class="sub-menu">
                                <li><a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Sign-Up</a></li>
                                <li><a routerLink="">Sign-In</a></li>
                                

                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li> 
                        <li class="scroll-to-section"><a href="#contact-section">About Us</a></li> 
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>