
    a {  
      color:#343434;
    }  
  * { 
      box-sizing:  border-box;
      outline: none!important;
  } 
  
  form { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .mt-30 { 
      margin-top: 30px!important;
  } 
  
  div { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .panel-content { 
      padding: 30px 15px; 
      width: calc(100% - 254px);
  } 
  
  .d-flex { 
      display: flex!important;
  } 
  
  .justify-content-end { 
      justify-content: flex-end!important;
  } 

  
  html { 
      font-family:   sans-serif; 
      line-height:   1.15; 
      -webkit-text-size-adjust:   100%; 
      -webkit-tap-highlight-color:   rgba(52,52,52,0);
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      overflow-y: scroll;
  } 
  
  :root { 
      --panel-bg:  #fbfbfd; 
      --primary:  #43d477; 
      --secondary:  #1f3b64; 
      --primary-hover:  #1fb354; 
      --primary-border:  #43d477; 
      --primary-border-hover:  #2aba5e; 
      --primary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --primary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --primary-btn-color:  #fff; 
      --primary-btn-color-hover:  #fff; 
      --secondary-hover:  #162a47; 
      --secondary-border:  #162a47; 
      --secondary-border-hover:  #13243d; 
      --secondary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --secondary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --secondary-btn-color:  #fff; 
      --secondary-btn-color-hover:  #fff; 
      --font-family-base:  "main-font-family"; 
  
  } 
  
  section { 
      display: block;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  .justify-content-between { 
      justify-content: space-between!important;
  } 
  
  .align-items-center { 
      align-items: center!important;
  } 
  
  .mb-10 { 
      margin-bottom: 10px!important;
  } 
  
  h2 { 
      margin-top:    0; 
      margin-bottom:    0; 
      font-weight:   700; 
      line-height:   1.3;
      font-size:  1.4rem;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .section-title { 
      font-size: 16px; 
      font-weight: 700; 
      line-height: 1.2; 
      color: #171347;
  } 
  
  .section-title.after-line { 
      display: flex; 
      flex: 1; 
      align-items: center;
  } 
  
  .section-title.after-line:after { 
      content: ""; 
      flex: 1 0 20px; 
      height: 2px; 
      background-color: #f1f1f1; 
      margin-left: 10px;
  } 
  
  button { 
      border-radius:    0;
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      text-transform: none;
  } 
  
  [type="button"],button { 
      -webkit-appearance: button;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 500; 
      color: #343434; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: 1px solid transparent; 
      padding-right: 32px; 
      padding-left: 32px; 
      height: 48px; 
      font-size: .875rem; 
      border-radius: 8px; 
      display: inline-flex; 
      align-items: center; 
      justify-content: center; 
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .btn-primary { 
      color: #fff; 
      background-color: #43d477; 
      border-color: #43d477; 
      box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(52,52,52,.075);
  } 
  
  .btn-sm { 
      border-radius:  5px; 
      display:   inline-flex; 
      align-items:   center; 
      justify-content:   center;
      padding-right:  16px; 
      padding-left:  16px; 
      height:  36px; 
      font-size:  14px;
      font-weight:  500; 
  } 
  
  .btn-primary { 
      color: #fff; 
      background-color: #43d477; 
      border-color: #43d477; 
      box-shadow:0 3px 6px 0 rgb(64 213 125/30%) ; 
      transition: all .3s;
  } 
  
  button:focus { 
      outline: 1px dotted; 
      outline: 5px auto -webkit-focus-ring-color;
  } 
  
  [type="button"]:not(:disabled), button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn:focus { 
      outline: 0; 
      box-shadow: none;
  } 
  
  .btn-primary:focus { 
      color: #fff; 
      background-color:  #1fb354; 
      border-color:  #2aba5e; 
      box-shadow: 0 3px 8px 0 rgb(64 213 125/30%); 
      transition: all .3s;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn:hover { 
      color: #343434; 
      text-decoration: none;
  } 
  
  .btn-primary:focus,.btn-primary:hover { 
      color: #fff; 
      background-color: #2dc463; 
      border-color: #2aba5e;
  } 
  
  .btn-primary:active,.btn-primary:focus,.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active { 
      color:#fff; 
      background-color: #1fb354; 
      border-color: #2aba5e; 
      box-shadow:0 3px 8px 0 rgb(64 213 125/30%); 
      transition: all .3s;
  } 
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mt-20 { 
      margin-top: 20px!important;
  } 
  
  .col-12 { 
      position:  relative; 
      width:  100%; 
      padding-right:  15px; 
      padding-left:  15px;
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  .bg-white { 
      background-color: #fff!important;
  } 
  
  .rounded-sm { 
      border-radius: .625rem!important;
  } 
  
  .px-10 { 
      padding-right:  10px!important;
      padding-left: 10px!important;
  } 
  
  .py-15 { 
      padding-top:  15px!important;
      padding-bottom: 15px!important;
  } 
  
  @media (min-width: 992px){ 
    .px-lg-25 { 
      padding-right:  25px!important;
      padding-left: 25px!important;
    } 
  }     
  
  @media (min-width: 992px){ 
    .py-lg-30 { 
      padding-top:  30px!important;
      padding-bottom: 30px!important;
    } 
  }     
  
  .panel-shadow { 
      box-shadow: 0 12px 23px 0 rgba(62,73,84,.04);
  } 
  
  .col-8 { 
      position:  relative; 
      width:  100%; 
      padding-right:  15px; 
      padding-left:  15px;
      flex: 0 0 66.6666666667%; 
      max-width: 66.6666666667%;
  } 
  
  .text-left { 
      text-align: left!important;
  } 
  
  .text-secondary { 
      color: #1f3b64!important;
  } 
  
  .font-weight-500 { 
      font-weight: 500;
  } 
  
  .text-secondary { 
      color:   #1f3b64 !important;
  } 
  
  .col-2 { 
      position:  relative; 
      width:  100%; 
      padding-right:  15px; 
      padding-left:  15px;
      flex: 0 0 16.6666666667%; 
      max-width: 16.6666666667%;
  } 
  
  .text-right { 
      text-align: right!important;
  } 
  
  .btn-group { 
      position: relative; 
      display: inline-flex; 
      vertical-align: middle;
  } 
  
  .dropdown { 
      position: relative;
  } 
  
  .dropdown-toggle { 
      white-space: nowrap;
  } 
  
  .btn-transparent { 
      background-color: transparent; 
      padding: 0!important; 
      border: 0 transparent;
  } 
  
  .dropdown-toggle:after { 
      display: inline-block; 
      margin-left: .255em; 
      vertical-align: .255em; 
      content: ""; 
      border-top: .3em solid; 
      border-right: .3em solid transparent; 
      border-bottom: 0; 
      border-left: .3em solid transparent;
  } 
  
  .table-actions.dropdown .dropdown-toggle:after  { 
      display: none;
  } 
  
  .dropdown-menu { 
      position:  absolute; 
      top:  40%; 
      left:  0; 
      z-index:  511; 
      display:  none; 
      float:  left; 
      min-width:  325px; 
      padding:  15px; 
      margin:  .125rem 0 0; 
      font-size:  1rem; 
      color:  #343434; 
      text-align:  left; 
      list-style:  none; 
      background-color:  #fff; 
      background-clip:  padding-box; 
      border:  unset; 
      border-radius:  15px; 
      box-shadow:  0 3px 15px 0 rgba(0,0,0,.16);
      transform: translate3d(0,54px,0)!important; 
      transition: all .1s; 
      overflow: visible!important;
  } 
  
  .table-actions.dropdown .dropdown-menu  { 
      right: 25px!important; 
      top: -71px!important; 
      left: auto!important; 
      min-width: -webkit-max-content!important; 
      min-width: -moz-max-content!important; 
      min-width: max-content!important; 
      border-radius: 0!important; 
      transition: all .3s; 
      opacity: 0; 
      visibility: hidden; 
      display: block!important; 
      font-size: 14px;
  } 
  
  .dropdown-menu:after { 
      content: ""; 
      position: absolute; 
      top: -10px; 
      left: 15px; 
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent; 
      border-right: 10px solid transparent; 
      border-bottom: 10px solid #fff;
  } 
  
  .table-actions.dropdown .dropdown-menu:after  { 
      display: none;
  } 
  
  svg { 
      vertical-align:  inherit;
      overflow:  auto; 
  } 
  
  .d-block { 
      display: block!important;
  } 
  
  .table-actions.dropdown .dropdown-menu button  { 
      color: #818894;
  } 
  
  .table-actions.dropdown .dropdown-menu button:hover  { 
      color:  #43d477 ;
  } 
  
  a { 
      text-decoration:  none; 
      background-color:  transparent;
      color: #343434;
  } 
  
  .mt-10 { 
      margin-top: 10px!important;
  } 
  
  a:link { 
      transition: all .2s ease;
  } 
  
  .table-actions.dropdown .dropdown-menu a  { 
      color: #818894;
  } 
  
  a,a:hover { 
      color: #343434;
  } 
  
  a:hover { 
      text-decoration:  none;
      cursor: pointer; 
  } 
  
  .table-actions.dropdown .dropdown-menu a:hover  { 
      color:  #43d477 ;
  } 
  
  
  