<section class="mt-30 snipcss-LpUic snip-section">
    <div class="d-flex justify-content-between align-items-center mb-10 snip-div">
        <h2 class="section-title after-line snip-h2">Education</h2>
        <button id="userAddEducations" type="button" class="btn btn-primary btn-sm snip-button">Add education</button>
    </div>

    <div id="userListEducations" class="snip-div">

        <div class="row mt-20 snip-div">
            <div class="col-12 snip-div">
                <div
                    class="education-card py-15 py-lg-30 px-10 px-lg-25 rounded-sm panel-shadow bg-white d-flex align-items-center justify-content-between snip-div">
                    <div class="col-8 text-secondary text-left font-weight-500 education-value snip-div">Red Hat
                        Certified Engineer (RHCE)</div>
                    <div class="col-2 text-right snip-div">
                        <div class="btn-group dropdown table-actions snip-div">
                            <button type="button" class="btn-transparent dropdown-toggle snip-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu snip-div">
                                <button type="button" data-education-id="27" data-user-id="1015"
                                    class="d-block btn-transparent edit-education snip-button">Edit</button>
                                <a href="/panel/setting/metas/27/delete?user_id=1015"
                                    class="delete-action d-block mt-10 btn-transparent snip-a">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20 snip-div">
            <div class="col-12 snip-div">
                <div
                    class="education-card py-15 py-lg-30 px-10 px-lg-25 rounded-sm panel-shadow bg-white d-flex align-items-center justify-content-between snip-div">
                    <div class="col-8 text-secondary text-left font-weight-500 education-value snip-div">AWS Certified
                        DevOps Engineer - Professional</div>
                    <div class="col-2 text-right snip-div">
                        <div class="btn-group dropdown table-actions snip-div">
                            <button type="button" class="btn-transparent dropdown-toggle snip-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu snip-div">
                                <button type="button" data-education-id="28" data-user-id="1015"
                                    class="d-block btn-transparent edit-education snip-button">Edit</button>
                                <a href="/panel/setting/metas/28/delete?user_id=1015"
                                    class="delete-action d-block mt-10 btn-transparent snip-a">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20 snip-div">
            <div class="col-12 snip-div">
                <div
                    class="education-card py-15 py-lg-30 px-10 px-lg-25 rounded-sm panel-shadow bg-white d-flex align-items-center justify-content-between snip-div">
                    <div class="col-8 text-secondary text-left font-weight-500 education-value snip-div">Linux
                        Foundation Certified System Administrator</div>
                    <div class="col-2 text-right snip-div">
                        <div class="btn-group dropdown table-actions snip-div">
                            <button type="button" class="btn-transparent dropdown-toggle snip-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu snip-div">
                                <button type="button" data-education-id="29" data-user-id="1015"
                                    class="d-block btn-transparent edit-education snip-button">Edit</button>
                                <a href="/panel/setting/metas/29/delete?user_id=1015"
                                    class="delete-action d-block mt-10 btn-transparent snip-a">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20 snip-div">
            <div class="col-12 snip-div">
                <div
                    class="education-card py-15 py-lg-30 px-10 px-lg-25 rounded-sm panel-shadow bg-white d-flex align-items-center justify-content-between snip-div">
                    <div class="col-8 text-secondary text-left font-weight-500 education-value snip-div">Master of
                        Science in Information Systems (MSIS) from University of Sydney</div>
                    <div class="col-2 text-right snip-div">
                        <div class="btn-group dropdown table-actions snip-div">
                            <button type="button" class="btn-transparent dropdown-toggle snip-button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-vertical snip-svg">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="12" cy="5" r="1"></circle>
                                    <circle cx="12" cy="19" r="1"></circle>
                                </svg>
                            </button>
                            <div class="dropdown-menu snip-div">
                                <button type="button" data-education-id="50" data-user-id="1015"
                                    class="d-block btn-transparent edit-education snip-button">Edit</button>
                                <a href="/panel/setting/metas/50/delete?user_id=1015"
                                    class="delete-action d-block mt-10 btn-transparent snip-a">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>