
<div>
  <div  class="row align-items-center snipcss-QWyPU p-0 m-0">
    <div  class="col-lg-6 col-md-12 p-0 m-0">
      <div  class="hero-banner-image text-center mb-3 p-0 m-0">
        <img
          
          src="./../../../assets/images/banner-img3.jpg"
          alt="image"
          class="snip-img"
        />
      </div>
    </div>
    <div  class="col-lg-6 col-md-12 p-3 m-0 ">
      <div  class="banner-courses-category p-0 m-0">
        <ul  class="snip-ul  p-0 m-0">
          <li  class="">
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i class="bi bi-infinity"></i>
              Technology
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-font-family"></i>
              Language
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bxs-drink"></i> Science
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-first-aid"></i> Health
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-bar-chart-alt-2"></i>
              Humanities
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-briefcase-alt-2"></i>
              Business
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-book-reader"></i> Math
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-target-lock"></i>
              Marketing
            </a>
          </li>
          <li >
            <a
              
              routerlink="/"
              ng-reflect-router-link="/"
              href="/"
              class="snip-a"
              ><i  class="bx bx-desktop"></i> Design
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>