
    a {  
      color:#343434;
    }  
  * { 
      box-sizing:  border-box;
      outline: none!important;
  } 
  
  form { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .mt-30 { 
      margin-top: 30px!important;
  } 
  
  div { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .panel-content { 
      padding: 30px 15px; 
      width: calc(100% - 254px);
  } 
  
  .d-flex { 
      display: flex!important;
  } 
  
  .justify-content-end { 
      justify-content: flex-end!important;
  } 
  
  body { 
      margin:    0; 
      font-family:   var(--font-family-base)!important; 
      font-size:    1rem; 
      font-weight:    400; 
      line-height:    1.3; 
      color:    #343434; 
      text-align:    left; 
      background-color:  var(--panel-bg);
      padding:   0; 
      box-sizing:   border-box;
      overflow:  hidden;
  } 
  
  html { 
      font-family:   sans-serif; 
      line-height:   1.15; 
      -webkit-text-size-adjust:   100%; 
      -webkit-tap-highlight-color:   rgba(52,52,52,0);
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      overflow-y: scroll;
  } 
  
  :root { 
      --panel-bg:  #fbfbfd; 
      --primary:  #43d477; 
      --secondary:  #1f3b64; 
      --primary-hover:  #1fb354; 
      --primary-border:  #43d477; 
      --primary-border-hover:  #2aba5e; 
      --primary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --primary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --primary-btn-color:  #fff; 
      --primary-btn-color-hover:  #fff; 
      --secondary-hover:  #162a47; 
      --secondary-border:  #162a47; 
      --secondary-border-hover:  #13243d; 
      --secondary-btn-shadow:  0 3px 6px 0 rgb(64 213 125/30%); 
      --secondary-btn-shadow-hover:  0 3px 8px 0 rgb(64 213 125/30%); 
      --secondary-btn-color:  #fff; 
      --secondary-btn-color-hover:  #fff; 
      --font-family-base:  "main-font-family"; 
  
  } 
  
  section { 
      display: block;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  h2 { 
      margin-top:    0; 
      margin-bottom:    0; 
      font-weight:   700; 
      line-height:   1.3;
      font-size:  1.4rem;
      margin: 0; 
      padding: 0; 
      box-sizing: border-box;
  } 
  
  .section-title { 
      font-size: 16px; 
      font-weight: 700; 
      line-height: 1.2; 
      color: #171347;
  } 
  
  .section-title.after-line { 
      display: flex; 
      flex: 1; 
      align-items: center;
  } 
  
  .section-title.after-line:after { 
      content: ""; 
      flex: 1 0 20px; 
      height: 2px; 
      background-color: #f1f1f1; 
      margin-left: 10px;
  } 
  
  .mt-15 { 
      margin-top: 15px!important;
  } 
  
  .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mt-20 { 
      margin-top: 20px!important;
  } 
  
  p { 
      margin-top:   0; 
      margin-bottom:   1rem;
      margin:  0; 
      padding:  0; 
      box-sizing:  border-box;
      line-height: 1.5;
  } 
  
  .text-primary { 
      color: #43d477!important;
  } 
  
  .font-14 { 
      font-size:  .875rem;
      font-weight: 400; 
      line-height: 1.4;
  } 
  
  .text-primary { 
      color: #43d477 !important;
  } 
  
  .col-12,.col-lg-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .col-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
  } 
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      flex: 0 0 33.3333333333%; 
      max-width: 33.3333333333%;
    } 
  }     
  
  .form-group { 
      margin-bottom: 1rem;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  .input-label { 
      font-size: 14px; 
      font-weight: 500; 
      line-height: 1.19; 
      color: #171347;
  } 
  
  select { 
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      text-transform:  none;
      word-wrap: normal;
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: 2.5rem; 
      padding: .5rem 1rem; 
      font-family: main-font-family; 
      font-size: .75rem; 
      font-weight: 400; 
      line-height: 1.25; 
      color: #343434; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 1px solid #ececec; 
      border-radius: .5rem; 
      box-shadow: none; 
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .form-control:disabled { 
      background-color: #f1f1f1; 
      opacity: 1;
  } 
  
  input { 
      margin:  0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      padding: 0; 
      box-sizing: border-box;
  } 
  
  input[type="text"] { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      outline: none;
  } 
  
  .input-group { 
      position: relative; 
      display: flex; 
      flex-wrap: wrap; 
      align-items: stretch; 
      width: 100%;
  } 
  
  .input-group-prepend { 
      display:  flex;
      margin-right: -1px;
  } 
  
  .input-group > .form-control  { 
      position: relative; 
      flex: 1 1 auto; 
      width: 1%; 
      min-width: 0; 
      margin-bottom: 0;
  } 
  
   .input-group > .form-control:not(:first-child) { 
      border-top-left-radius: 0; 
      border-bottom-left-radius: 0;
  } 
  
  button { 
      border-radius:    0;
      margin:   0; 
      font-family:   inherit; 
      font-size:   inherit; 
      line-height:   inherit;
      overflow:  visible;
      text-transform: none;
  } 
  
  [type="button"],button { 
      -webkit-appearance: button;
  } 
  
  .input-group-text { 
      display:  flex; 
      align-items:  center; 
      padding:  .5rem 1rem; 
      margin-bottom:  0; 
      font-size:  .75rem; 
      font-weight:  400; 
      line-height:  1.25; 
      color:  #343434; 
      text-align:  center; 
      white-space:  nowrap; 
      background-color:  #162a47 !important; 
      border:  1px solid #1f3b64; 
      border-radius:  .5rem;
      border-color: #162a47!important;
  } 
  
  [type="button"]:not(:disabled), button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .input-group > .input-group-prepend > .input-group-text  { 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  svg { 
      vertical-align:  inherit;
      overflow:  auto; 
  } 
  
  .text-white { 
      color: #fff!important;
  } 
  
  
  